name: Build and Release

on:
  push:
    branches:
      - installer-script  # Trigger on pushes to the main branch; adjust as needed
  pull_request:
    branches:
      - installer-script

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'  # Specify the Node.js version based on your requirements

      - name: Install dependencies
        run: npm install
        working-directory: electronapp  # Adjusted to the correct directory

      - name: Build and Publish
        run: npm run release
        working-directory: electronapp  # Adjusted to the correct directory

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.run_number }}
          draft: false
          prerelease: false
          body: 'Description of the release goes here'